<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header_partial}}
    <p>{{pageBody}}</p>
    <br />
    <br />
    <br />
    {{> footer_partial}}
</body>

</html>